body {
  background: radial-gradient(
      circle at 7.5% 24%,
      rgb(1, 22, 64) 0%,
      rgb(4, 85, 191) 25.5%,
      rgb(38, 1, 1) 62.3%,
      rgb(89, 2, 2) 93.8%
    )
    black no-repeat;
  color: aliceblue;
}

a {
  color: rgb(5, 151, 242);
}
.container {
  background-color: rgb(0, 0, 0, 0.3);
  padding: 45px;
  margin: 120px auto;
  max-width: 600px;
  border-radius: 10px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  line-height: 1.5;
}

form {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.text-input-field {
  padding: 16px;
  border: 1px solid rgba (39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  background-color: rgb(5, 151, 242);
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  width: 150px;
  font-size: 16px;
  padding: 14px 24px;
}

.aiResponse {
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 20px;
  line-height: 1.5;
  border-left: 5px solid rgb(5, 151, 242);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  font-style: italic;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
